apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: portfolio
type: Opaque
stringData:
  DB_USER: seu_usuario
  DB_PASSWORD: sua_senha
  DB_HOST: seu_host_do_banco
  DB_NAME: seu_nome_do_banco
  MAIL_HOST: seu_host_smtp
  MAIL_PORT: "465"
  MAIL_USERNAME: seu_email
  MAIL_PASSWORD: sua_senha_app
  MAIL_FROM: seu_email_remetente
